//- container.pug
include tile.pug

.tile-container
    +tile("google", "//www.google.com", "logos/google.svg", "favorite,search")
    +tile("google", "//www.google.com", "logos/bing.svg", "favorite,search")
    +tile("google", "//www.google.com", "logos/google.svg", "favorite,search")
    +tile("google", "//www.google.com", "logos/google.svg", "favorite,search")
    +tile("google", "//www.google.com", "logos/google.svg", "favorite,search")
    +tile("google", "//www.google.com", "logos/google.svg", "favorite,search")
