//- container.pug
include mixins.pug

.tile-container
    +tile("google", "//www.google.com", "http://charts.aastocks.com/servlet/Charts?com=50004&stockid=00700.HK&period=0&footerStyle=0&lang=1&scheme=3&refLine=3&rAnnotationStyle=1&height=120&width=188&t=08232019234347", "group1")
    +tile("google", "//www.google.com", "logos/bing.svg", "group2")
    +tile("google", "//www.google.com", "logos/google.svg", "group3")
    +tile("google", "//www.google.com", "logos/google.svg", "group4")
    +tile("google", "//www.google.com", "logos/google.svg", "group5")
    +tile("google", "//www.google.com", "logos/google.svg", "group6")
    +good_tile
