//- nav.pug
include ./mixins.pug

.nav-panel(style="width: 100px;")
    nav
        ul
            +nav_item("group1", "指數成份")
            +nav_item("group2", "倉")
            +nav_item("group3", "STV")
            +nav_item("group4", "銀行")
            +nav_item("group5", "5G")
            +nav_item("group6", "科技")
            +nav_item("#", "保險")
            +nav_item("#", "暫時")
            +nav_item("#", "金")
            +nav_item("#", "酒")
            +nav_item("#", "油")
            +nav_item("#", "奶")
            +nav_item("#", "藥")
            +nav_item("#", "內房")
            +nav_item("#", "車")
            +nav_item("#", "礦")
            +nav_item("#", "航空")
            +nav_item("#", "388")
            +nav_item("#", "2318")
            +nav_item("#", "1810")
            +nav_item("#", "觀察")
            +nav_item("#", "指數")
            +nav_item("#", "DJI")
            +nav_item("#", "人民幣")
            +nav_item("#", "Sign up")
