//- tile.pug

a(class="tile tile-link" href="https://google.com" data-groups='favorite,search' target="_blank")
    .tile-box(data-title='google' data-url='https://google.com' data-img='logos/google.svg')
        img.logo(src="logos/google.svg")
    .tile-title google
