//- tile.pug

mixin tile(link_text, link_href, img_src, groups)
    a(class="tile tile-link" href!=link_href data-groups!= groups target="_blank")
        .tile-box(data-title!=link_text data-url!=link_href data-img!=img_src)
            img.logo(src!=img_src)
        .tile-title!= link_text
